/*
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif;
*/

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #46424D;
  color: #FFF;
  position: fixed;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8vh;
}

.new-activity-view {
  width: 70vw;
  height: 93vh;
  margin-top: 6vh;
}

.form-view {
  background-color: #46424D;
  margin: 0 2% 4% 2%;
  height: 80vh;
}

.activity-header {
  font-size: 3vh;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 1%;
  bottom: 0;
}

.new-activity-form {
  display: flex;
  flex-direction: column;
	justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
	height: 100%;
}

.category-header {
  font-size: 2vh;
  font-weight: bold;
  margin: 5% 0 1% 0;
}

.category-buttons {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.category-buttons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
/*
#option1{
  background-image: url( "assets/exercise.svg" );
} */

.btn{
  background-color: inherit;
  width: 25%;
  border: 3px solid #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

img{
  width: 30%;
  margin: 5px;
}

input[type="radio"]:checked{
  visibility:hidden;
}

#accomplish-input{
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 3vh;
  margin-top: 2vh;
	color: #FFF;
	font-size: 2vh;
	height: 3vh;
}

.set-time{
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  margin-bottom: 6vh;
}
.set-minutes, .set-seconds{
  width: 40%;
}

#minutes-input, #seconds-input{
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-top: 2vh;
  width: 100%;
	color: #FFF;
	font-size: 2vh;
	height: 3vh;
}

.start-activity-button{
  position: absolute;
  bottom: 20px;
  right: 0;
  height: 4vh;
  width: 15vw;
  border-radius: 10px;
  border: 0;
}

.past-activities {
	border-left: 2px solid #46424D;
	width: 30vw;
  height: 93vh;
  margin-top: 8vh;
}

.past-activities-header {
  font-size: 3vh;
  margin-left: 2%;
  margin-top: 3%;
	margin-bottom: 1%;
  bottom: 0;
}

/* .past-activities-logged {
	text-align: center;
	margin: 3vw;
} */

p {
	text-align: center;
	margin: 3vw;
	line-height: 1.6;
}

.study-btn-clicked {
	background-color: inherit;
  width: 25%;
  border: 3px solid #B3FD78;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
	color: #B3FD78;
}

.meditate-btn-clicked {
	background-color: inherit;
  width: 25%;
  border: 3px solid #C278FD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
	color: #C278FD;
}

.exercise-btn-clicked {
	background-color: inherit;
  width: 25%;
  border: 3px solid #FD8078;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
	color: #FD8078;
}

.hidden {
	display: none;
}
